.profileImage {
    border-radius: 200px;
    box-shadow: 0 0 20px white;
    max-height: 50%;
    margin-left: 20px;
    float: right

}

.content {
    margin-top: 100px;
    width: 95%;
    display: flex;
    flex-direction: row;

}

.text {
    width: 70%;
    text-align: left;
    clear: right;
    
}